*{
	margin: 0;
	padding: 0;
}
.container{
	max-width: 1140px;
	display:block;
	margin: 0 auto;

}

#tile {
	margin-top: 5%;
	padding-left: 10%;
	font-family: fantasy;
	font-size: xx-large;
}
#sub_title {
	padding-left: 10%;
	font-style: normal;
	font-family: sans-serif;
	color: rgb(68, 67, 67);
}
html, body{
	font-family: sans-serif;
	background-color: rgb(195, 222, 245);
}
#hero_image{
	background: url(../IMG/bannerNhan.jpg);
	padding-top: 0px;	
	background-size: 100%;
	text-align: center;
	height: 600px;
	}
#content {
	padding: 150px;
	font-size: 70px;
	color: white;
	font-family: fantasy;
}
#sub {
	font-size: 50px;
	color:black;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#hero_image .hero-content{
	color: #FFF;
}
.hero-content h1 {
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 15px;
	color: #FFF;
	font-size:300%;
}
.hero-content p:last-child{
	position: relative;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.hero-content p:last-child:after {
	content: '';
	position:absolute;
	bottom: 0;
	width: 40px;
	background: rgb(125, 163, 199);
	left: 0;
	transform:translateX(-50%);
}
.sub-title{
	color: #555;
	font-size:100%;
}
.main-menu{
	display: flex;
	align-items: center;
	list-style: none;
	background-color: rgb(76, 153, 197);
	height: 70px;
	width: 100%;
	position: fixed;
	z-index: 5;	
}
.main-menu li a{
	display: block;
	padding: 20px 150px;
	text-decoration: none;	
	text-align: center;  
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bolder;
    clear: both;
    color: black;
	font-size: 30px; 
	margin: 60px;
	
}
header #home-nav{
	display: flex;
	align-items: center;
}
#info_name {
    font-family: sans-serif;
    font-size:50px; 
	text-align:center;
	margin-top: 5%;
	padding-top: 5%;
	font-family: cursive;
}
#bang {
	margin-top: 3%;
}
#bang tr td {
  margin-top: 3%;
  margin: auto;
  width: 30%;
  border: 3px;
  padding: 10px;
  font-size: 150%;
}
#bang tr td strong{
	color: rgb(42, 43, 44);
	font-size: 30px;
	font-family: cursive;;
}
#thongtin {
	background-color:  rgb(125, 163, 199);
    filter: drop-shadow(0 0 20px gray);
    background-position: center;
	min-height: 100%;
	margin-left: 10%;
	margin-right: 10%;
	filter: drop-shadow();
	padding-right: 5%;
	padding-left: 5%;
	font-family: cursive;
}
#lienhe {
	background-color:  rgb(125, 163, 199);
    filter: drop-shadow(0 0 20px rgb(82, 80, 80));
    background-position: center;
	min-height: 100%;
	margin-left: 10%;
	margin-right: 10%;
	filter: drop-shadow();
	margin-bottom: 5%;
	font-family: cursive;

}
#lienhe_name {
    font-size:50px; 
    text-align:center;
	margin-top: 50px;
	padding-top: 3%;
}
p{
	margin-bottom: 1rem;
	margin-top: 0;
	color:black;
	font-size:150%;	
	font-family: cursive;
}




